<h1><%= @bank.name %></h1>

<ul>
  <li><%= link_to "Edit Bank", edit_bank_path(@bank) %></li>

  <li><%= link_to "Delete Bank", bank_path(@bank),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>

  <li><%= link_to "Go back to Banks page", banks_path %></li>

</ul>
